<div class="app-desk">
    <mat-toolbar class="popover app-desk_header">
        <div class="app-desk_search">
        </div>
        <div class="app-desk_links">
        </div>
        <div class="app-desk_menu">
            <button mat-button (click)="onAddUnit($event)" class="add-widget-button main-menu_button">
                <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <mat-tab-group [selectedIndex]="viewTypeIndex + currentViewIndex" *ngIf="allWidgets" [@.disabled]="firstLoad">
        <mat-tab label="icon widgets">
            <mat-drawer-container class="main-container">
                <mat-drawer mode="side" opened position="end">
                    <button mat-button class="change-view-button" (click)="goFullView()">
                        <mat-icon class="change-view-icon" fontSet="fa" fontIcon="fa-chevron-right"></mat-icon>
                    </button>
                </mat-drawer>
                <mat-drawer-content>
                    <div class="desk-content has-right-arrow">
                        <app-icon-view
                            *ngIf="!!currentView"
                            [addUnit]="addIconUnit"
                            [widgets]="iconWidgets"
                            [viewChangeEvent]="viewChange"
                            [openBookmarks]="openBookmarksModal"
                            [openHistory]="openHistoryModal"
                            [currentView]="currentView"
                        ></app-icon-view>
                    </div>
                </mat-drawer-content>
            </mat-drawer-container>
        </mat-tab>
        <mat-tab label="full widgets" *ngFor="let viewIndex of fullViewsArr">
            <mat-drawer-container class="main-container">
                <mat-drawer mode="side" opened position="start">
                    <button mat-button class="change-view-button" (click)="goLeft()">
                        <mat-icon class="change-view-icon" fontSet="fa" fontIcon="fa-chevron-left"></mat-icon>
                    </button>
                </mat-drawer>
                <mat-drawer mode="side" opened position="end" *ngIf="viewIndex < MAX_FULL_VIEW_COUNT - 1">
                    <button mat-button class="change-view-button" (click)="goRight()">
                        <mat-icon class="change-view-icon" fontSet="fa" fontIcon="fa-chevron-right"></mat-icon>
                    </button>
                </mat-drawer>
                <mat-drawer-content>
                    <div class="desk-content has-left-arrow" [class.has-right-arrow]="viewIndex < MAX_FULL_VIEW_COUNT">
                        <app-full-view
                            *ngIf="!!currentView && viewIndex === currentViewIndex"
                            [viewIndex]="viewIndex"
                            [addUnit]="addFullUnit"
                            [widgets]="fullWidgets"
                            [viewChangeEvent]="viewChange"
                            [openBookmarks]="openBookmarksModal"
                            [openHistory]="openHistoryModal"
                            [currentView]="currentView"
                        ></app-full-view>
                    </div>
                </mat-drawer-content>
            </mat-drawer-container>
        </mat-tab>
    </mat-tab-group>

</div>
