<app-widget
    [type]="type"
    [frozen]="frozen"
    [hide]="hide"
    [remove]="remove"
    [minimizedSubj]="minimizedOnStart"
    (minimizedEmiter)="onMinimize($event)"
    [opened]="onOpened()"
    [showHeader]="timeSvc.settings.showHeader"
    [headerName]="timeSvc.settings.headerName"
    (reload)="reload()"
    (hideWidget)="hideWidget.emit()"
    (save)="saveSettings()">

    <app-widget-icon>
        <mat-icon fontSet="far" fontIcon="fa-clock"></mat-icon>
    </app-widget-icon>

    <!--<app-widget-settings-on-adding [settings]="settingsStorage" (syncSettings)="syncSettingsStorage()">
    </app-widget-settings-on-adding>-->

    <app-widget-settings>
        <div class="setting-item">
            <span class="setting-item-label">Widget Header</span>
            <mat-slide-toggle [(ngModel)]="timeSvc.settingShowHeader"></mat-slide-toggle>
        </div>
        <div class="setting-item">
            <span class="setting-item-label">Widget Name</span>
            <mat-form-field>
                <input matInput [(ngModel)]="timeSvc.settingHeaderName"
                       autocomplete="off" spellcheck="false">
            </mat-form-field>
        </div>
    </app-widget-settings>

    <app-widget-full>
        <div class="time-wrapper">
            <div class="time">{{timeSvc.currentTime | date: 'shortTime'}}</div>
            <div class="date">{{timeSvc.currentTime | date: 'E LLL d y'}}</div>
        </div>
    </app-widget-full>

    <app-widget-settings>Todo</app-widget-settings>
</app-widget>
